body{
    margin: 0px;
    padding: 0px;
}
div {
    position: absolute;
}
div:nth-child(1) {
    width: 460px;
    height: 825px;
}

div:nth-child(2) {
    left: 460px;
    width: 1302px;
    height: 825px;
}
pre{
    position: absolute;
}
.Logo1{
    padding-top: 19px;
    width: 307px;
    height: 164px;
}
.Logo2{
    padding-top: 15px;
    padding-left: 67px;
    width: 177px;
    height: 41px;  
}
#Header{
    background-image: url(./file/RoshenLogo2.png);
    background-repeat: no-repeat;
    background-position-x: 67px;
    background-position-y: center;
    margin-left: 1px;
    margin-top: 1px;
    padding: 10px;
    background-color: rgba(140, 10, 13, 1);
    height: 52px;
}
.header-menu{
    font-family: MinionPro-Regular;
    font-weight: bold;
    padding-inline-start: 370px;
    margin-top: 0px;
}
.header-menu-item{
    display: inline-block;
    font-size: 14px;
    color: #FBC37A;
    padding: 16px;
    list-style-type: none;
    margin-top: 0px;
}
.header-menu-item1{
    top: 24px;
    font-family: MinionPro-Regular;
    font-size: 18px;
    color: #FBC37A;
    list-style-image: url(./file/English.png);
    list-style-position: inside;
    padding-inline-start: 1107px;
    position: absolute;
}
#Footer{
    z-index: 3;
    margin-left: 1px;
    height: 72px;
    background-color: rgba(140, 10, 13, 1);
}
.footer-menu{
    padding-left: 23px;
    padding-right: 56px;
    margin-left: 56px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #FBC37A;
}
h4{
    font-size: 18px;
    font-family: MinionPro-Regular;
    text-align: start;
    margin-bottom: 0px;
}
p{
    font-size: 16px;
    font-family: MinionPro-Regular;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 0px;
}
.Flogo{
    z-index: 4;
    position: absolute;
    margin-top: 20px;
    left: 1164px;
    width: 28px;
    height: 28px;  
}
.VKlogo{
    z-index: 4;
    position: absolute;
    margin-top: 20px;
    left: 1205px;
    width: 28px;
    height: 28px;  
}
section{
    height: 679px;
    margin-left: 1px;
    background-image: url(./file/BackPhoto.png);
}  
#section{
    background-color: rgba(255, 255, 255, 0.8);   
    width: 1301px;
    height: 679px;
} 
.photo{
    z-index: 3;
    position: absolute;
    top: 98px;
    left: 65px;
    width: 1170px;
    height: 335px;  
}
.button1{
    z-index: 5;
    position: absolute;
    top: 203px;
    left: 557px;
    width: 191px;
    height: 44px;
}
.button2{
    z-index: 4;
    position: absolute;
    top: 208px;
    left: 557px;
    width: 191px;
    height: 44px; 
}
.buttonLeft{
    z-index: 4;
    position: absolute;
    top: 255px;
    left: 93px;
    width: 55px;
    height: 55px;   
}
.buttonRight{
    z-index: 4;
    position: absolute;
    top: 255px;
    left: 1152px;
    width: 55px;
    height: 55px;  
}
.circle1{
    z-index: 4;
    background-color: rgba(255, 255, 255, 1);
    top: 405px;
    left: 619px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
}
.circle2{
    z-index: 4;
    background-color: rgba(191, 103, 13, 1);
    top: 405px;
    left: 642px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
}
.circle3{
    z-index: 4;
    background-color: rgba(255, 255, 255, 1);
    top: 405px;
    left: 666px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
}
.textlogo{
    margin: 0px;
    z-index: 6;
    position: absolute;
    font-size: 60px;
    top: 106px;
    left: 425px;
    font-family: OpenSans-Regular;
}
.textlogo1{
    margin: 0px;
    z-index: 6;
    position: absolute;
    font-size: 60px;
    top: 106px;
    left: 680px;
    font-family: OpenSans-Regular;
}
.textbutton{
    margin: 0px;
    z-index: 6;
    position: absolute;
    font-size: 24px;
    top: 208px;
    left: 580px;
    font-family: MinionPro-Regular;
    font-weight: bold;
}
.headtext1{
    top: 435px;
    left: 65px;
    width: 269px;
}
.headtext2{
    top: 435px;
    left: 363px;
    width: 276px;
}
.headtext3{
    top: 435px;
    left: 657px;
    width: 288px;
}
.headtext4{
    top: 435px;
    left: 957px;
    width: 249px;
}
.infotext1{
    top: 565px;
    left: 65px;
    width: 259px;
}
.infotext2{
    top: 565px;
    left: 362px;
    width: 254px;
}
.infotext3{
    top: 565px;
    left: 660px;
    width: 252px;
}
.infotext4{
    top: 565px;
    left: 957px;
    width: 276px;
}